# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# Environment Variables (Keep your secrets safe!)
.env

# OS Files
.DS_Store
Thumbs.db

# Uploads
backend/uploads/

# IDEs
.vscode/
.idea/
